<div class="container">
  <div class="row mb-3">
    <div class=" col-md-12 d-flex align-items-center">
      <h1> <%= @the_board.name %> </h1>
      <div class="ms-auto">
        <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#newPostModal"> Add new post </button>
      </div>
    </div>
  </div>

  <ul class="nav nav-tabs nav-fill mb-3" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="active-tab" data-bs-toggle="tab" data-bs-target="#active-tab-pane" type="button" role="tab">Active posts
      </button>
    </li>

    <li class="nav-item" role="presentation">
      <button class="nav-link" id="expired-tab" data-bs-toggle="tab" data-bs-target="#expired-tab-pane" type="button" role="tab">Expired posts
      </button>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="active-tab-pane" role="tabpanel">
      <div class="row row-cols-1 row-cols-md-4 g-4">
      </div>
  </div>




<div class="modal fade" id="newPostModal" tabindex="-1" aria-labelledby="newPostModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="newPostModalLabel">New Post</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
      </button>
    </div>
    <div class="modal-body">
      <form action="/insert_post" method="post">
        <div class="mb-3">
          <label for="title_box" class="form-label"> Title </label>
          <input type="text" id="title_box" name="query_title" class="form-control">
        </div>
        <div class="mb-3">
          <label for="body_box" class="form-label"> Body </label>
          <input type="text" id="body_box" name="query_body" rows="3" class="form-control">
        </div>
    </div>
</div>
 

  <div>
    <label for="body_box">
      Body
    </label>

    <textarea id="body_box" name="query_body" rows="3"></textarea>
  </div>

  <div>
    <label for="expires_on_box">
      Expires on
    </label>

    <input type="date" id="expires_on_box" name="query_expires_on">
  </div>

  <input type="hidden" id="board_id_box" name="query_board_id" value="<%= @the_board.id %>">

  <button>
    Add post
  </button>
</form>

<hr>

<h2>Active posts</h2>

<table border="1">
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Posted on</th>
    <th>Expires on</th>
  </tr>

  <% @active_posts.each do |a_post| %>
    <tr>
      <td><%= a_post.title %></td>
      <td><%= a_post.body %></td>
      <td><%= a_post.created_at.strftime("%b %e, %Y") %></td>
      <td><%= a_post.expires_on.strftime("%b %e, %Y") %></td>
    </tr>
  <% end %>
</table>

<h2>Expired posts</h2>

<table border="1">
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Posted on</th>
    <th>Expired on</th>
  </tr>

  <% @expired_posts.each do |a_post| %>
    <tr>
      <td><%= a_post.title %></td>
      <td><%= a_post.body %></td>
      <td><%= a_post.created_at.strftime("%b %e, %Y") %></td>
      <td><%= a_post.expires_on.strftime("%b %e, %Y") %></td>
    </tr>
  <% end %>
</table>
